# Variables de WhatsApp API
WSP_API_VERIFY_TOKEN=token-verificacion-api-publica
WSP_API_TOKEN=token-api-whatsapp
WSP_API_URL=url-api-whatsapp
WSP_API_VERSION=v00.0
WSP_API_PHONE_ID=654654654613213265323


# Configuración de MongoDB
MONGO_URI=mongodb+srv://usuario:password@cluster.mongodb.net/
MONGO_DATABASE=nombre-base-datos
